.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.env
**/.env
**/.env.*
**/*.pem
**/*.key
**/*token*
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
